<div class="container my-5">
  <div class="card p-4">
    <h1 class="display-4 fw-bold mb-4">About DEV</h1>

    <p>
      DEV is a community of software developers getting together to help one another out.
      The software industry relies on collaboration and networked learning.
      We provide a place for that to happen.
    </p>

    <p>
      DEV is built on
      <a href="https://forem.com" target="_blank" rel="noopener noreferrer">Forem</a>:
      open source software designed to empower communities.
      Because our application is
      <a href="https://github.com/forem" target="_blank" rel="noopener noreferrer">open source</a>,
      you can inspect every little detail of the code, or chip in yourself!
      Forem is available for anyone interested in creating similar communities in any niche or passion.
      Visit our meta Forem,
      <a href="https://forem.dev" target="_blank" rel="noopener noreferrer">forem.dev</a>
      for more information.
    </p>

    <p>
      We believe in transparency and adding value to the ecosystem.
      We hope you enjoy poking around and participating!
    </p>

    <h2 class="mt-5 mb-3">
      <strong>Leadership</strong>
    </h2>

    <p class="text-center">
      <a
        href="https://media2.dev.to/dynamic/image/width=800%2Cheight=%2Cfit=scale-down%2Cgravity=auto%2Cformat=auto/https%3A%2F%2Fres.cloudinary.com%2Fpracticaldev%2Fimage%2Ffetch%2Fs--S2Ud7coR--%2Fc_imagga_scale%2Cf_auto%2Cfl_progressive%2Ch_420%2Cq_auto%2Cw_1000%2Fhttps%3A%2F%2Fthepracticaldev.s3.amazonaws.com%2Fi%2F0r746whbdtl8uvs98uah.JPG"
        class="d-inline-block"
      >
        <img
          src="https://media2.dev.to/dynamic/image/width=800%2Cheight=%2Cfit=scale-down%2Cgravity=auto%2Cformat=auto/https%3A%2F%2Fres.cloudinary.com%2Fpracticaldev%2Fimage%2Ffetch%2Fs--S2Ud7coR--%2Fc_imagga_scale%2Cf_auto%2Cfl_progressive%2Ch_420%2Cq_auto%2Cw_1000%2Fhttps%3A%2F%2Fthepracticaldev.s3.amazonaws.com%2Fi%2F0r746whbdtl8uvs98uah.JPG"
          alt="Alt Text"
          class="img-fluid rounded"
          loading="lazy"
        >
      </a>
    </p>

    <p>
      DEV is led by Forem's co-founders
      <a href="https://dev.to/ben">Ben Halpern</a>,
      <a href="https://dev.to/jess">Jess Lee</a>,
      and
      <a href="https://dev.to/peter">Peter Frank</a>
      ("PB&amp;J").
    </p>

    <p>Happy coding ❤️</p>
  </div>
</div>
